:root {
  font-size: 16px;
}

div.logo_flag {
  float: left;
  text-align: right;
  background-color: sienna;
  width: 200px;
}

h1 {
  color: white;
  margin-right: 10px;
}

span {
  float: left;
  color: grey;
  width: 40px;
  font-size: 1.5em;
  margin-top: 10px;
  margin-left: 10px;
}

div.hero {
  content: url(./me.jpg);
  max-width: 100%;
  max-height: 100%;
  width: auto;
}

div.content {
  max-width: 50%;
  margin: 0 auto;
}

section.about {
  margin-top: 3rem;
}

a {
  text-decoration: none;
  text-align: center;
}

section.about p {
  line-height: 2.5rem;
  text-align: justify;
}

section.contact {
  margin: 5rem 0 5rem 0;
}

section a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 1rem;
  margin: 0 0 1rem 0;
  width: 40%;
}

section a:nth-child(1) {
  background: grey;
  width: 91%;
}

section a:nth-child(2) {
  background: steelblue;
  margin-right: 0.5rem;
}

section a:nth-child(3) {
  background: pink;
  margin-left: 0.5rem;
}

section a:nth-child(4) {
  background: black;
  margin-right: 0.5rem;
}

section a:nth-child(5) {
  background: sienna;
  margin-left: 0.5rem;
}

section a:nth-child(6) {
  background: firebrick;
  margin-right: 0.5rem;
}

section a:nth-child(7) {
  background: steelblue;
  margin-left: 0.5rem;
}

footer {
  text-align: center;
  background: #393939;
  color: grey;
  width: 100%;
  height: 100%;
  padding: 20px;
}
